.vscode/**
.vscode-test/**
src/**
out/
.beads/
.claude/
openspec/
dev/
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
eslint.config.mjs
**/*.map
node_modules/**
.github/**
examples/**
*.md
!README.md
!dist/**
