.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
eslint.config.mjs
**/*.map
**/*.ts
node_modules/**
.github/**
examples/**
*.md
!README.md
